{% extends "master1.html" %}
{% block maincontent %}
    {% if userdetails %}
        <center><label style="font-size:20px;font-family:serif"><b>Change Your Password</b></label></center><br><br>
        {% if messages %}
            {% for message in messages %}
                {% if message.tags == 'success' %}
                    <div class="alert alert-success text-center">{{ message }}</div>
                {% elif message.tags == 'warning' %}
                    <div class="alert alert-danger text-center">{{ message }}</div>
                {% endif %}
            {% endfor %}
        {% endif %}
        <form method="post" action="DashChangePassword">
            {% csrf_token %}
                <label>Current password:</label>
                <input type="password"  name="cp" placeholder="Enter Current Passworsd" class="form-control"><br>
                <label>New password:</label>
                <input type="password"  name="np" placeholder="Enter New Passworsd"  class="form-control"><br>
                <label>Retype password:</label>
                <input type="password"  name="rp" placeholder="Enter Retype Passworsd"  class="form-control"><br>
                <input type="submit" class="btn btn-primary" value="Submit">
        </form>
    {% endif %}
{% endblock maincontent %}