{% extends "master.html" %}
{% block main %}
    <div class="container"  style="margin-top:100px">
        <div class="row">
            <div class="col-lg-3"></div>
            <div class="col-lg-6">
                <center><label style="font-size:20px;font-family:serif"><b>Change Your Password</b></label></center><br><br>
                {% if messages %}
                    {% for message in messages %}
                    {% if message.tags == 'success' %}
                        <div class="alert alert-success text-center">{{ message }}</div>
                    {% elif message.tags == 'warning' %}
                        <div class="alert alert-danger text-center">{{ message }}</div>
                    {% endif %}
                    {% endfor %}
                
                {% endif %}
                <form method="post" action="/passwordchange">
                    {% csrf_token %}
                    <label>Current password:</label>
                    <input type="password"  name="cp" class="form-control"><br>
                    <label>New password:</label>
                    <input type="password"  name="np" class="form-control"><br>
                    <label>Retype password:</label>
                    <input type="password"  name="rp" class="form-control"><br>
                    <input type="submit" class="w3-btn btn-primary" value="Submit">
                </form>
                
                
            </div>
            <div class="col-lg-3"></div>
        </div>
    </div>
    
{% endblock main %}

    
