{% extends "master1.html" %}
{% block maincontent %}
<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
<div class="row">

    <div class="col-lg-12">
        {% if messages %}
            {% for message in messages %}
            {% if message.tags == 'success' %}
                <div class="alert alert-success text-center">{{ message }}</div>
            {% elif message.tags == 'warning' %}
                <div class="alert alert-warning text-center">{{ message }}</div>
            {% endif %}
            {% endfor %}
        
        {% endif %}
        {% if bussinessdetails %}
            <script>
                $(document).ready(function(){
                    $(".headtitle").text("{{bussinessdetails.title}}");
                    var link = document.createElement('link');
                    link.rel = 'icon';
                    link.type = 'icon';
                    link.href = '{{bussinessdetails.image.url}}';
                    document.head.appendChild(link);
                });
            </script>
            <div class="col-lg-12">
                <label style="font-size:30px">
                    <img src="{{bussinessdetails.image.url}}" style="width:50px;height:50px">
                    {{ bussinessdetails.title }}
                </label>
                <button class="btn btn-primary editprofile" id="editprofile" style="float:right" rel="{{bussinessdetails.id}}">Edit</button>
            </div>
            
            <div class="col-lg-12" style="margin-top:20px">
                <label style="color:red" class="warningall"></label>
                <table class="table table-striped table-hover">
                    <tr>
                        <td>Address:</td><td class="businessaddress"> {{ bussinessdetails.address }}</td>
                    </tr>
                    <tr>
                        <td>Category:</td><td class="businesscategory"> {{ bussinessdetails.category }}</td>
                    </tr>
                    <tr>
                        <td>State:</td><td  class="businessstate"> {{ bussinessdetails.state }}</td>
                    </tr>
                    <tr>
                        <td>Disctrict:</td><td  class="businessdistrict"> {{ bussinessdetails.district }}</td>
                    </tr>
                    <tr>
                        <td>Contact Number:</td><td  class="businessnumber"> {{ bussinessdetails.contact_number }}</td>
                    </tr>
                    <tr>
                        <td>Open Until:</td><td  class="businessopen"> {{ bussinessdetails.open_until }}</td>
                    </tr>
                    <tr>
                        <td>Experience:</td><td  class="businessexperience"> {{ bussinessdetails.experience }} Experience</td>
                    </tr>
                    <tr>
                        <td>Timing:</td><td class="businesstiming"> {{ bussinessdetails.timing }}</td>
                    </tr>
                    <tr>
                        <td>Service:</td><td class="businessservice"> {{ bussinessdetails.service }}</td>
                    </tr>
                    <tr>
                        <td>Overview:</td><td class="businessoverview"> {{ bussinessdetails.overview }}</td>
                    </tr>
                </table>                    
            </div>
            {% if appointments %}
            <div class="col-lg-12" style="margin-top:50px">
                <center><label style="font-size:20px"><b>Your Recently Booked Appointments</b></label></center>
                <table class="table table-striped table-hover" style="margin-top:10px">  
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Date</th>  
                        <th>time</th>
                {% for ap in appointments %}
                    <tr>
                        <td>{{ap.user}}</td>
                        <td>{{ap.email}}</td>
                        <td>{{ap.date}}</td>
                        <td>{{ap.time}}</td>
                    </tr>
                {% endfor %}
                </table>
            </div>
            {% endif %}
        {% else %}

        <h2 style="font-family:serif">Add Your Business:</h2><br>
        <form method="POST" action="/addbussinessdata" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="text" class="form-control" name="title" required placeholder="Business Title">
            <br />
            <textarea class="form-control" rows="4" name="address"  placeholder="Address" required></textarea>
            <br>
            <select class="form-control" name="category" required style="height:40px">
                <option value="">Select Category</option>
                {% for category in cat %}
                    <option value="{{ category.id }}">{{ category.category }}</option>
                {% endfor %}
            </select>
            <br>
            <input type="text" class="form-control"  placeholder="Enter State" name="state" required>
            <br>
            <input type="text" class="form-control"  placeholder="Enter District" name="district" required>
            <br>
            <input type="text" class="form-control"  placeholder="Contact Number" name="contact_number" required>
            <br>
            <input type="text" class="form-control"  placeholder="Open Until" name="open_until" required>
            <br>
            <input type="text" class="form-control" placeholder="Experience (years, months)" name="experience" required>
            <br>
            <input type="text" class="form-control" placeholder="Timing" name="timing" required>
            <br>
            <textarea class="form-control" rows="4" placeholder="Service" name="service" required></textarea>
            <br>
            <textarea class="form-control"  rows="5" placeholder="Overview" name="overview" required></textarea>
            <br>
            <input type="text" class="form-control" placeholder="Youtube Link (Optinal)" name="yt">
            <br>
            <div class="form-group">
                <label for="image"><b>Business Image</b></label>
                <input type="file" class="form-control-file" id="image" name="image" required>
            </div>
            <button type="submit" class="w3-btn btn-primary">Submit</button>
        </form>
        {% endif %}
    </div>
</div>
<script>
    var csrftoken = "{{ csrf_token }}";

    $(document).on("click", "#editprofile", function() {
        var address = $(".businessaddress").text();
        var state = $(".businessstate").text();
        var district = $(".businessdistrict").text();
        var number = $(".businessnumber").text();
        var open = $(".businessopen").text();
        var experience = parseInt($(".businessexperience").text());
        var timing = $(".businesstiming").text();
        var service = $(".businessservice").text();
        var overview = $(".businessoverview").text();  
        $(".editprofile").html("Save");
        $(".editprofile").attr("id", "saveprofile");

        $(".businessaddress").html("<textarea id='businessaddress' class='form-control'>" + address + "</textarea>");
        $(".businessstate").html("<input type='text' id='businessstate' value='" + state + "' class='form-control'>");
        $(".businessdistrict").html("<input type='text' id='businessdistrict' value='" + district + "' class='form-control'>");
        $(".businessnumber").html("<input type='text' id='businessnumber' value='" + number + "' class='form-control'>");
        $(".businessopen").html("<input type='text' id='businessopen' value='" + open + "' class='form-control'>");
        $(".businessexperience").html("<input type='text' id='businessexperience' value='" + experience + "' class='form-control'>");
        $(".businesstiming").html("<input type='text' id='businesstiming' value='" + timing + "' class='form-control'>");
        $(".businessservice").html("<textarea id='businessservice' class='form-control'>" + service + "</textarea>");
        $(".businessoverview").html("<textarea id='businessoverview' class='form-control'>" + overview + "</textarea>");
    });
    $(document).on("click", "#saveprofile", function() {
        var id = $(this).attr("rel");
        var address = $("#businessaddress").val();
        var state = $("#businessstate").val();
        var district = $("#businessdistrict").val();
        var number = $("#businessnumber").val();
        var open = $("#businessopen").val();
        var experience = $("#businessexperience").val();
        var timing = $("#businesstiming").val();
        var service = $("#businessservice").val();
        var overview = $("#businessoverview").val();
        
        // Check if any required field is empty
        if (address == "" || state == "" || district == "" || number == "" || open == "" || experience == "" || timing == "" || service == "" || overview == "") {
            $(".warningall").text("All Fields Required");
        } else {
            $.ajax({
                url: "/UpdateBusiness",
                method: "POST",
                data: {
                    id: id,
                    address: address,
                    state: state,
                    district: district,
                    number: number,
                    open: open,
                    experience: experience,
                    timing: timing,
                    service: service,
                    overview: overview,
                    csrfmiddlewaretoken: csrftoken
                },
                success: function(response) {
                    if (response.status == 'success') {
                        // Update displayed values with new ones
                        $(".businessaddress").text(address);
                        $(".businessstate").text(state);
                        $(".businessdistrict").text(district);
                        $(".businessnumber").text(number);
                        $(".businessopen").text(open);
                        $(".businessexperience").text(experience);
                        $(".businesstiming").text(timing);
                        $(".businessservice").text(service);
                        $(".businessoverview").text(overview);
                        $("#saveprofile").html("Edit").attr("id", "editprofile");
                        $(".warningall").text("");
                    }
                },
                error: function(xhr, status, error) {
                    console.log("Error: " + error);
                }
            });
        }
    });
    
</script>
{% endblock maincontent %}
